@import "vars";
@import "fonts";
@import "global";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}
.header__btn {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  background-color: $text;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register {
  background-color: $red;
}
.header__menu {
  background-color: $bg;
}
.menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
    a {
      color: #fff;
      font-size: 14px;
    }
  }
}
